name: "CI"
on:
    push:
        branches:
        - master
    pull_request:
        types: [opened, synchronize]
    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:  
    build:
        name: "Test"
        runs-on: ${{ 
            (matrix.os == 'linux')   && (matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest') ||
            (matrix.os == 'macos')   && (matrix.arch == 'arm64' && 'macos-latest' || 'macOS-15-intel') ||
            (matrix.os == 'windows') && 'windows-latest' || 
                                        'ubuntu-latest'  }}
        strategy:
            fail-fast: false
            matrix:
                include: 
                    - {os: linux,   arch: amd64}
                    - {os: linux,   arch: arm64}
                    - {os: freebsd, arch: amd64}
                    - {os: macos,   arch: amd64}
                    - {os: macos,   arch: arm64}
                    - {os: windows, arch: amd64}
                    
        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'freebsd') && 'freebsd {0}' ||
                    (matrix.os == 'windows') && 'msys2 {0}'   || 
                                                'bash'        }}

        steps:
            # We have to checkout first, *before* setting up Arturo,
            # if we want to be able to access the files from inside
            # including FreeBSD jobs!
            - name: "Checkout sources"
              uses: actions/checkout@v4
              with:
                submodules: recursive

            - name: Setup Arturo
              uses: arturo-lang/setup-arturo@v2
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch }}

            - name: Run unit tests
              run: |
                # This one line is critical for FreeBSD jobs!
                # (in other OSes. it just does nothing harmful)
                cd $GITHUB_WORKSPACE
                
                expected=`cat .github/workflows/expected.out | tr -d '\r'`
                output=`arturo --no-color src/script.art 2>/dev/null | tail | tr -d '\r' || true`

                if [ "$output" = "$expected" ]; then
                    echo "✓ Test succeeded! :)"
                    exit 0
                else
                    echo "✗ Tests failed :("
                    echo ""
                    echo "$expected" > /tmp/expected.txt
                    echo "$output" > /tmp/output.txt
                    diff /tmp/expected.txt /tmp/output.txt || true
                    exit 1
                fi